<br>
<h2 class="title"><%= @post.title %></h2>
<p class="body"><%= @post.body %></p>



<hr>
      <% if current_user.id == @post.user.id %>
         <%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-default' %>
       <% end %>
<hr>

   <%= render 'comments/comment' %>

   <hr><br>


   <%= render 'comments/form' %>
