<br>
<h2 class="title"><%= @post.title %></h2>
<p class="body"><%= @post.body %></p>

<i class="date"> Submitted <%= time_ago_in_words(@post.created_at) %> ago</i>

<hr>

 <%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-default'%>

<hr>

   <%= render 'comments/comment' %>
   <%= render 'comments/form' %>
